* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input {
    border: 1px solid rgba(0, 0, 0, 0.61);
    margin-bottom: 50px;
}

@media (min-width: 300px){
    input, .virtual-e table tr td button {
        position: relative;
        top: 300px;
        right: 5px;
    } 
    .virtual-e table tr td button {
        width: 28px;
        height: 30px;
        border-radius: 20px;
        font-weight: normal;
    }
    input {
        position: relative;
        width: 340px;
        height: 100px;
        font-size: 20pt;
        left: 0px;
    }
}


@media (min-width: 400px){
    .virtual-e table tr td button {
        position: relative;
        width: 30px;
        height: 60px;
        font-size: 13pt;
        text-align: center;
        font-weight: bold;
        margin-left: 3.5px;
        top: 350px;
        right: 15px;
    }
    input {
        position: relative;
        width: 390px;
    }
}
